

.mainsection{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    background-image: url("../Components/images/12.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width:100%;
    /* color: whitesmoke; */
}

.contentbox{
    /* width: 0%; */
    margin-right: 70%;
    padding-left: 2em;
    height: 50%;
    justify-content: left;
}

.contentbox h1{
    font-size: 1.8rem;
}

.contentbox p{
    font-size: 1.0rem;
    margin: 1em 0;
    font-family: 'Poppins', sans-serif;
}

.SendNow{
    display: inline-block;
    font-size: 1.3rem;
    text-decoration: none;
    color: whitesmoke;
    padding: 0.5em 1.5em;
}

